
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Card ribbon</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/siteAdmin.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..." data-bind="value:searchLiter">
                            @*<span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>*@
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-bind="click:clearSearch">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Home")>Home</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Orders")>Orders</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Products")>Products</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "ProductTypes")>Product types</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Vendors")>Vendors</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Tags")>Tags</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Collections")>Collections</a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Reports")>Reports</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Card ribbon</h1>
                    </div>
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/lib/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script>var CardRibbn = window.CardRibbn || {};</script>
    <script src="~/app/data/config.js"></script>
    <script src="~/app/data/db.js"></script>
    <script src="~/app/data/api.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
